<div class="d-flex justify-content-center">
  <div class="col-6 justify-content-md-center bg-white p-5 mb-3 rounded">
    <div class="row">
      <div class="col-12">
        <h2>Add availability as a sitter</h2>
      </div>
    </div>

    <%= simple_form_for [@user, @sitter] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.button :submit, "Add sitter", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
