.navbar-lewagon {
  justify-content: space-between;
  background: #94B49F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
 color: white;
 font-style: italic;

}
